# SVM (support vector machines)

In [1]:
import pandas as pd

file_name='TATAMOTORS.csv'
# Load stock price data
data = pd.read_csv(f'../data/raw/{file_name}', parse_dates=True)
data['datetime'] = pd.to_datetime(data['datetime'])

data.set_index('datetime', inplace=True)
data = data[['open', 'high', 'low', 'close', 'volume']]

data

                       open    high     low   close   volume
datetime
2019-01-01 09:15:00  173.50  173.50  171.30  171.85  1748492
2019-01-01 10:15:00  171.85  172.45  171.80  172.30   592293
2019-01-01 11:15:00  172.30  173.40  172.10  173.25   836524
2019-01-01 12:15:00  173.20  173.45  172.60  173.05   784867
2019-01-01 13:15:00  173.05  173.15  172.55  172.85   725620
...                     ...     ...     ...     ...      ...
2023-08-02 11:15:00  632.90  632.90  626.55  628.20  1438269
2023-08-02 12:15:00  628.20  629.90  623.60  625.05  2168131
2023-08-02 13:15:00  625.00  625.65  616.90  617.90  3091890
2023-08-02 14:15:00  617.65  624.00  616.45  623.85  3166247
2023-08-02 15:15:00  623.95  623.95  621.70  623.00  1359405

[9443 rows x 5 columns]